<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Tidy</string>
	<key>Program</key>
	<string>/Users/j/Documents/scripts/tidy/tidy.bash</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
